
		.myChart { display: inline-block; }
		.otherChart { display: inline-block; }
		.thirdChart { display: inline-block; } 
		.chart { display: inline-block; width:300px; margin-right:100px; margin-top: 100px;}