/* -------------------------------------
CSS reset
Is a short set of CSS rules that resets the styling of all HTML elements to a consistent baseline so the website will look the same on all browsers
*/

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    /*The box-sizing property is used to tell the browser what the sizing properties (width and height) should include border-box.*/
    box-sizing: border-box;
    /*reset Chrome user agent styles*/
    -webkit-margin-before: 0px;
    -webkit-margin-after: 0px;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-after: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
}


/* -------------------------------------
General styles (General Module, wrapping around the modules bellow)
(the styles used everywhere in the page (like the Body) or styles which are used in more than 2 of the modules bellow (h2, h3, h4, h5, h6, p, a, ul, li))
*/

html {
    background: rgba(0, 0, 0, 0) url("..//images/earth3.gif") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

body {
    font-family: "Oswald", sans-serif;
     text-align: center;
    color: Maroon;
}

h1 {
    color: darkturquoise;
    font-size: 80px;
    margin-bottom: 15px;
    margin-top: 25px;
    text-shadow: 1px 1px 1px;
}

h3{
    color: Red;
    font-size: 60px;
}


.intro {
    font-weight: bold;
    font-size:16px;
}

/*.item_wrap {  width: 95%; height: 400px; margin: 0 auto; margin-top: 125px; outline: 0px solid blue;  }*/
 
/* .item_wrap {  display: inline-block; outline: 0px solid red;  }*/
 
 .item_data_wrap { padding: 4px; padding-left: 15px; padding-right: 25px; margin-bottom:50px; text-shadow: 0px 1px 0px grey;
 height: 350px; position: relative; margin: 0px auto;
    /*background-color: blue; color: red; border: 1px solid; border-radius: 5px; */
 }
 
 .item_wrap header { height: 220px; }
 .title_wrap { margin-bottom: 30px; margin-top: 25px; }
 .title_wrap h2 {color: blue;}
 
 
 /*.item_data_co2 { width: 40%; height: 50%; position: absolute; left: 15px; bottom: 20px; height: 200px; outline: 0px solid red;  }*/
 /*.item_data_ghg { width: 25%; margin: 0px auto; margin-top: 50px; height: 200px; }*/
 /*.item_data_methane { width: 35%; position: absolute; right: 15px; bottom: 20px; height: 200px; outline: 0px solid red; }*/
 .canvas_wrap { position:relative; }
 .chart { display: inline-block; vertical-align: top; width:200px; margin-right: 45px; margin-top: 100px;}
 
 .middle_chart { margin-bottom:100px; }
 
 .canvas_wrap_myChart { background-color: rgba(0,0,255,0.4); width: 300px; padding: 15px; margin-right: 50px;}
 .first_chart { padding-top: 175px; }
 
 .chart_myChart img { width: 100px; }
 .canvas_wrap_otherChart {background-color: rgba(0,0,255,0.4); width: 100%; padding: 15px; position: relative; right: 45px;  top:0; text-align: center; padding-bottom: 100px}
 
 .third_chart { padding-top: 175px; }
 
 .chart_otherChart img { width: 100px; }
 .canvas_wrap_thirdChart {background-color: rgba(0,0,255,0.4); width: 500px; padding: 15px; position: absolute; left: 65px; margin-top: 0; text-align: center; }
 .chart_thirdChart img { width: 100px; }
 .chart_data { font-weight: 900;}
 
 
 .clockdiv { background-color: rgba(255,255,255,0.6); width: 50%; margin: 0 auto; margin-top: 20px;}
 .clockdiv_wrap { background-color: rgba(255,255,255,0.4); width: 250px; margin: 0 auto; padding: 15px; color: black; line-height: 25px; border-radius: 5px; margin-top:55px; } 
 
 h4 {
     color:red;
     margin-bottom:10px; 
     font-size: 20px;
 }

            

.iframe_wrap { background-color: rgba(255,255,255,0.6); width: 600px; margin: 0 auto; margin-top: 500px; height: 120px;  } 
.text_wrap { background-color: rgba(255,255,255,0.4); width: 750px; margin: 0 auto; padding: 25px; color: black; line-height: 23px; border-radius: 5px; margin-bottom: 20px;} 



.introduction-section h3 {
    padding-top: 20px;
    padding-bottom: 30px;
}

 